@mixin container($width){
	margin: 1rem auto;
	width:($width);
	max-width:1020px;
}

@mixin center{
	text-align:center;
}

@mixin custom-font{
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
@mixin border-box{
	box-sizing: border-box;
}

$yellow-white:#FFFDED;


html{
	height:100%;
	@include linear-gradient(#071b2a,#0c2d47);
}


body{
	color:$yellow-white;
	font-weight:300;
	@include custom-font;
}

#top{
	@include container(90%);
	@include center;

	h1{
		font-size:2rem;
		font-weight:normal;
		margin-bottom:2rem;
	}
}

p{
	font-size:1.1rem;
}

#answer{
	@include container(90%);
	@include center;

	figure{
		@include center;
		margin: 0 auto 3rem;
	}

	img{
		display:inline-block;
		height:8rem;
		margin-right:1rem;
		vertical-align:middle;	
	}
	
	h2{
		display:inline-block;
		font-size:5rem;
		vertical-align:middle;
		margin:0;
		padding:0;
		font-weight:100;

	}
	p{
		clear:both;
		font-weight:300;
	}
}

#next-last{
	@include container(89%);

	aside{
		border:3px solid $yellow-white;
		border-radius: 3px;
		@include center;
		@include border-box;
		width:46%;
		margin:1%;
		display:inline-block;	
		
		h4{
			background:$yellow-white;
			color:#111;
		}
	}

}


footer{
	clear:both;
	position: absolute;
	bottom:0;
	width:100%;
	background: url(skyline.svg) bottom left repeat-x;
	background-size: auto 100%;
	p{
		@include container(80%);
		@include center;
		padding:9rem 0 2rem;
		margin-bottom:0;
		color:#0e3656;

	}
}